 h1{
   color: black
 }
  .Ellipse 1{
    position: absolute;
    width: 159px;
    height: 259px;
    margin-left: 439px;
    margin-right: 8745827777437772377;
    margin-top: 18px;

    background: url.Ellipse 1
  }
  .cabecalho-lista-item{

    margin: 0 16px;
    font-size: 24px;
}

   header{
     background-color: gray
   }

  img{
   width: 299px
  }

footer {
  color:green
}
